@theme {
  
  --theme-text-base: #aaaaaa;

  --theme-accent: #F9C80E;        
  --theme-neon-cyan: #2DE2E6;     
  --theme-neon-red: #FD1D53;      

  --theme-orange-vibrant: #FF6C11;
  --theme-pink-crimson: #FF3864;
  --theme-purple-abyss: #261447;
  --theme-midnight-black: #0D0221;

  --theme-blue-electric: #023788;
  --theme-purple-royal: #650D89;
  --theme-magenta-deep: #920075;
  --theme-pink-neon-alt: #F6019D;
  --theme-pink-dark: #D40078;

  --theme-purple-shuttle: #241734;
  --theme-blue-indigo: #2E2157;
  --theme-pink-hot: #FD3777;
  --theme-magenta-bright: #F706CF;

  --theme-pink-coral: #FF4365;
  --theme-purple-dark-1: #540D6E;
  --theme-purple-medium: #791E94;
  --theme-purple-dark-2: #541388;

  --font-space: "Space Grotesk", sans-serif;
}
